* {
	font-family: Helvetica;
}

body {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;	
}

h1, h2 {
	text-align: center;
}

h3 {
	padding: 0px;
}

.navB {
	text-align: center;
}

.navBar {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	display: inline-block;
}

.nav1, .nav2, .nav3, .nav4, .nav5 {
	border-right: black 1px solid;
}

.nav1, .nav2, .nav3, .nav4, .nav5, .nav6 {
	float: left;
	padding: 10px;
}

.nav {
	text-decoration: none;
	color: black;
}


.eduColumn1of2, .eduColumn2of2 {
	width: 375px;
	height: 300px;
	float: left;
}


.classTitle {
	font-weight: bold;
}

.classRoomRow1 {
	width: 750px;
	height: 250px;
}

.row1Column1of3 {
	width: 250px;
	height: 100px;
	float: left;
}

.row1Column2of3 {
	width: 250px;
	height: 100px;
	float: left;
}

.row1Column3of3 {
	width: 250px;
	height: 100px;
	float: left;
}

.classRoomRow2 {
	width: 750px;
	height: 100px;
}

.row2Column1of3, .row2Column2of3, .row2Column3of3 {
	width: 250px;
	height: 150px;
	float: left;
}

.column1of3 {
	width: 300px;
	height: 150px;
	background-color: white;
	float: left;
	padding-bottom: 35px;
}

.column2of3, .column3of3 {
	float: left;
	width: 225px;
	height: 150px;
	padding-bottom: 35px;
}

p.intro {
	text-align: center;
}

.comingSoon {
	 text-align: center;
	 padding: 40px;
}

.robo {
	text-align: center;
}

.roboRow1, .roboRow2, .roboRow3 {
	width: 750px;
	height: 225px;
}
 
 .roboColumn1of2, .roboColumn2of2 {
	 width: 375px;
	 height: 225px;
	 float: left;
	 text-align: center;
 }
 
 .roboVid {
	 padding: 20px;
	 float:center;
 }
 
 .copyRight {
	 text-align: center;
 }
 
 .thumbNail {
	 width: auto;
	 height: 150px;
	 margin-left: auto;
	 margin-right: auto;
	 display: block;
 }

.thumbNail:hover {
	box-shadow: 0 0 5px 1px red;
}
